body {
    background-color: rgb(255, 253, 243);
}

* {  
    font-family: 'Courier New', Courier, monospace;
}

.buttons{
    text-align: center;
}

p {
    color: black;
}

h1 { 
    color: black;
    font-size: 200px;
    text-align: center;
}

a.button {
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 15px 15px;
    margin: 30px 30px;
    border-radius: 10px;
}

.img_left{
    float: left;
    width: 600px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.line{
    min-height: 500px;
    margin: 0px 200px 100px 200px;
}

.text{
    text-align: justify;
    font-size: x-large;
}
